---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";

---

<Layout title="New F4L site">
  <!-- Top Navbar -->
  <Navbar />
    
  <header>  
    <!-- Logo -->
    <div class="flex">
      <div class=" flex-1 ">&nbsp;</div>
      <div class=" flex-3"><img class=" p-8" src="https://atlsurvival.org/food/img/profile.png"> </div>
      <div class=" flex-1">&nbsp;</div>
    </div>
      <div class=" text-center ">
        <h3 class="text-4xl font-bold uppercase"> Free grocery giveaways</h3>
        <p class="text-3xl">
          No questions asked, no one turned away. <br>
          Come get free food, help out, or both!<br><br>
        </p>
      </div>
  </header>
  
  <main>
  <!-- pix with descriptions -->
  <div class="m-auto text-center sm:w-3/4">
    <img src='distro.jpg'  class="flex-1 w-full rounded-3xl shadow-xl"/>       

    <div class="px-10" >
      
      <h3 class="text-4xl font-bold pt-4">How to volunteer:</h3>
      <p class="text-3xl "><a href="/signup" class=" text-amber-800 underline">Sign up</a>
        to get text messages about volunteer opportinities, or sign up for or just show up 
        to one of the grocery giveaways and talk to the volunteers. See 
        <a class=" text-amber-800 underline" href="#calendar">the calendar below</a> 
        for events you can show up to. 
        
        <h3 class="text-4xl font-bold pt-4">How to donate goods:</h3>
        <p class="text-3xl">Bring items to one of the free grocery giveaways, 
          or <a href="/contact" class=" text-amber-800 underline">get in touch</a> 
          to arrange a special time to 
          drop them off.
        </p> 
      </p>
    </div>

    <div class=" p-10">
      <h3 class="text-4xl font-bold"> How to get food:</h3> 
      <div class="text-3xl">
        <p>Just show up to any of the weekly free grocery giveaways around Atlanta. 
          No one will demand documents or information or place any expectations on you.
          Take as much as you need (while respecting the needs of others).  
          If you would like to donate
          food or items or volunteer your time, that is very welcome but not required.
        </p>
        <p  class=" pb-10 pt-4"> For people who can't come to the grocery giveaways, 
          deliveries of pre-made grocery boxes happen as our limited volunteer 
          resources permit.
          <a href="https://airtable.com/shrBg3BzmxqI4yvyp?prefill_Food%20Restrictions%3F=No,%20anything%20is%20fine" class=" text-amber-800 underline">
            Sign up</a> to receive deliveries.</p>
      </div>
    </div>
  </div>

  <!-- Calendar -->
  <div id="calendar" class=" bg-stone-700 p-4 text-white">
    <span class="uppercase font-bold text-4xl">Calendar</span>
    <span class="text-3xl">of Food4Life events where you can get food:</span>
    <div class="float-right">
      <a href="/signup#signupform" class="text-3xl   text-amber-700 underline font-bold ">Sign up here</a> 
      <span class="text-3xl">to volunteer for any of these. </span>
    </div>
  </div>
  <iframe class="airtable-embed" src="https://airtable.com/embed/shrSfvLMaLu36rYih?backgroundColor=cyan&&viewControls=off" frameborder="0" width="100%" height="900" style="background: transparent; border: 1px solid #ccc;"></iframe>      

  <!-- Buttons -->
  <div class=" flex sm:gap-3 sm:w-3/4 justify-center text-2xl uppercase m-auto" >
    <a href="/signup" class="flex-1 text-center sm:m-3 font-bold text-white bg-stone-700 hover:text-black hover:bg-slate-300 rounded-lg p-4 shadow-md border-solid	border-2 border-gray-700 hover:underline underline-offset-2">Volunteer</a>
    <a href="https://opencollective.com/food4life" class="flex-1 text-center sm:m-3 font-bold text-white bg-stone-700 hover:text-black hover:bg-slate-300 rounded-lg p-4 shadow-md border-solid	border-2 border-gray-700 hover:underline underline-offset-2">Donate</a>
 
  </div>
</main>

  <!-- Footer -->
  <footer class=" text-center" id="footer">
    <div class=" p-6 bg-stone-600">
      <h3>Social Media</h3>
        <ul class=" ">
            <li class=" inline-block">
                <a href="https://www.instagram.com/food4lifeatl/" >ig</a>
            </li>
            <li class=" inline-block">
                <a href="https://twitter.com/Food4LifeAtl">twt</a>
            </li>
            <li class=" inline-block">
                <a href="https://www.facebook.com/pg/Atlanta-Survival-Program-101606221475609">fb</a>
            </li>
            <li class=" inline-block">
                <a href="https://actionnetwork.org/fundraising/support-the-food4life-atlanta-survival-program/">$</a>
            </li>
            <li class=" inline-block">
                <a href="http://foodnotbombsatl.org/food4life-initiative-in-response-to-the-covid-19-crisis/"> fnb</a>
            </li>
        </ul>
    </div>
    <div class=" p-6 bg-stone-300">
      We will survive by helping each other
    </div>
  </footer>
</Layout>
