---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";

---

<Layout title="New F4L site">
  <!-- Top Navbar -->
  <Navbar />

  <!--General signup intro -->
    <div class="px-3 sm:px-20">
        <h1 class="text-5xl pt-10 font-bold uppercase">Get involved!</h1>
        <div class="text-3xl pb-10">
            To sign up as a volunteer and receive texts and emails about volunteer opportinities, 
            give us some general info <a href="https://airtable.com/shrY151RWK9aBJBkF" 
            class="text-3xl  pt-10 text-amber-700 underline font-bold ">here</a>.
        </div>
        <div class=" text-3xl pb-10">
            <span class="text-3xl py-10">To volunteer for one or more of the events in the 
                calendar below, 
                <a href="#signupform" class="text-3xl pt-10 text-amber-700 underline font-bold ">
                    Fill out the signup form</a>.
            </span>
        </div>
    </div>   

  <!--Calendar intro bar -->
  <div id="calendar" class=" bg-stone-700 p-4">
    <span class="uppercase font-bold text-4xl text-white">Calendar</span>
    <span class="text-3xl text-white">of volunteer opportunities</span>
  </div>
  <!--Calendar intro bar -->
  <iframe class="pt-15" src="https://airtable.com/embed/shrAuZR9yIxyKN6Yu?backgroundColor=cyan&viewControls=off" frameborder="0" width="100%" height="900" ></iframe>      
  
  <!--signup form intro bar -->
  <div id="signupform" class=" mt-10">  </div>
  <iframe class=" m-auto mb-10 sm:w-3/4 l:w-1/2" src="https://airtable.com/embed/shrGtyAXZZ5DHO4d3?backgroundColor=cyan" frameborder="0" onmousewheel="" width="100%" height="1150" ></iframe>

</Layout>