---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

---

<Layout title="New F4L site">
  <!-- Top Navbar -->
  <Navbar />
 
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

    <body>
     <!-- Posts Section -->
    <section class="success" id="posts">

        <div class=" p-2 sm:p-12 m:p-16 m-auto">
            <div class="">
                <h2 class="font-bold text-5xl ">Our Strategy</h2>
                <i>March 4, 2022</i>
            </div>
            <div class=" text-3xl leading-normal">
                In February 2022 we received a shipment of dozens of pallets full of food, 
                clothing, hygiene products, school supplies, and baby products - an entire 
                semi-truck full of basic survival goods. Over a few weeks we distributed it
                all with help from groups like 
                <a href="http://www.communitymovementbuilders.org/" 
                class="text-3xl   text-amber-700 underline font-bold">
                    Community Movement Builders</a>, 
                <a href="https://www.facebook.com/mrancifer"
                    class="text-3xl   text-amber-700 underline font-bold">
                    Marshall Rancifer's</a> 
                homeless outreach, 
                and the 
                <a href="https://kilomboschool.com/"
                    class="text-3xl   text-amber-700 underline font-bold">
                    Kilombo School</a>. 
                This is the beginning 
                of an exciting new strategy the Atlanta Survival Program is pursuing. 
                <h3 class=" font-bold text-4xl pt-7 pb-4 ">
                    Regional Circulation
                </h3> 
                Through our partnership with Distribute Aid, we are 
                connecting to supply chains outside the Atlanta Metro area. 
                This allows us to source 
                large shipments of materials from anywhere in the Southeast - and beyond. 
                It also means 
                that surplus we accumulate in Atlanta can be directed regionally, 
                for example to respond 
                to flooding and other disasters which impact impoverished rural communities. 
                <h3 class=" font-bold text-4xl pt-7 pb-4">
                    Federated Mutual Aid
                </h3> As the scale of available supplies increases, 
                we need much more capacity to distribute it all. 
                Rather than just growing our own organization, 
                we're making connections with other radical aid groups to help. 
                Through federation, we ensure that the resources we receive are 
                strengthening a diversity of liberatory projects. 
                We also hope to promote mutual aid as an organizing strategy by 
                facilitating cooperation between different groups around procuring 
                material resources. 
                <h3 class=" font-bold text-4xl pt-7 pb-4">
                    Logistics and Counter-Economics
                </h3> 
                Everyone on the Left agrees that capitalism has failed humanity. 
                But what can we do about it, in a political system where voting and 
                even protest seem to do little to change the conditions of daily life 
                for oppressed people? We see logistics (transporting, organizing and 
                distributing supplies) as a key component of counter-economics - 
                the development of a real operating economy which rejects capitalist 
                values. Social movements emerge from ideas and passion, but they run 
                on bread, diapers and medications. Historically, from Black liberation 
                to labor union strikes, the ability to secure and direct basic necessities 
                to people fighting for a cause has been vital. It's mandatory for any 
                movement which seeks to build real power and create lasting change. 
                <h3 class=" font-bold text-4xl pt-7 pb-4">
                    Join the Effort
                </h3> 
                This strategy depends on participation. If you share our vision, 
                please contribute. 
                <a href="/signup" class="text-3xl   text-amber-700 underline font-bold">
                    Sign up to volunteer</a> 
                and set up a 
                <a href="https://opencollective.com/food4life">
                    monthly donation</a>.
                Together we can build an economy for a liberated world.
            </div>
        </div>
    </section>
    </body>
<Footer/>    
</Layout>
