---

---

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Footer -->
  <footer  class=" text-center" id="footer">
    <div class=" bg-stone-600 text-yellow-400">
        <ul class="  text-4xl ">
            <li class=" inline-block  p-4 ">
                <a href="https://www.instagram.com/food4lifeatl/" 
                class="fa fa-fw fa-instagram p-4 rounded-full"> </a>
            </li>
            <li class=" inline-block  p-4">
                <a href="https://twitter.com/Food4LifeAtl" 
                class="fa fa-fw fa-twitter p-4 rounded-full"></a>
            </li>
            <li class=" inline-block  p-4">
                <a href="https://www.facebook.com/pg/Atlanta-Survival-Program-101606221475609" 
                class="fa fa-fw fa-facebook p-4 rounded-full"></a>
            </li>
            <li class=" inline-block p-4">
                <a href="http://foodnotbombsatl.org/food4life-initiative-in-response-to-the-covid-19-crisis/" 
                class="fa fa-fw fa-globe p-4 rounded-full"></a> 
            </li>
            <li class=" inline-block  p-4">
                <a href="https://actionnetwork.org/fundraising/support-the-food4life-atlanta-survival-program/" 
                class="fa fa-fw fa-money p-4 rounded-full"></a> 
            </li>
        </ul>
    </div>
    <div class=" p-6 bg-stone-300">
      We will survive by helping each other
    </div>
  </footer>