---

---
  
  
  
  <!-- Top Navbar -->
  <div class=" flex sticky top-0 p-4 bg-stone-600 text-white "> 
    <a href="/" class=" uppercase font-bold text-3xl sm:text-5xl sm:whitespace-nowrap">Atlanta Survival</a>
      <ul class=" w-2/3 text-right text-xl sm:text-2xl uppercase font-bold ">
        <li class=" sm:inline-block"><a href="/" class="sm:px-2 m:px-3  hover:text- hover:underline">Home</a></li>
        <li class=" sm:inline-block"><a href="/about" class="sm:px-2 m:px-3 hover:underline">About</a></li>
        <li class=" sm:inline-block"><a href="/updates" class="sm:px-2 m:px-3 hover:underline">Updates</a></li>
        <li class=" sm:inline-block"><a href="/signup" class="sm:px-2 m:px-3 hover:underline">Volunteer</a></li>
        <!--<li class=" sm:inline-block"><a href="/partners" class="p-4 hover:underline">Related projects</a></li>-->
        <li class=" sm:inline-block"><a href="https://opencollective.com/food4life" class="sm:px-2 m:px-3 hover:underline">Donate</a></li> 
        <li class=" sm:inline-block"><a href="/contact" class="sm:px-2 m:px-3 hover:underline">Contact</a></li>
      </ul>
  </div>
