---

---
  
  
  
  <!-- Top Navbar -->
  <div class=" flex sticky top-0 p-6 bg-teal-600 border-solid border-2 border-black"> 
    <h1 class=" w-1/2 uppercase font-bold text-5xl">Atlanta Survival</h1>
      <ul class=" w-1/2 text-right text-2xl uppercase font-bold border-solid border-2 border-black ">
        <li class=" inline-block"><a href="/" class="px-4  hover:text- hover:underline">Home</a></li>
        <li class=" inline-block"><a href="/about" class="px-4 hover:underline">About</a></li>
        <li class=" inline-block"><a href="/updates" class="px-4 hover:underline">Updates</a></li>
        <li class=" inline-block"><a href="/signup" class="px-4 hover:underline">Volunteer</a></li>
        <!--<li class=" inline-block"><a href="/partners" class="p-4 hover:underline">Related projects</a></li>-->
        <li class=" inline-block"><a href="/contact" class="px-4 hover:underline">Contact</a></li>
      </ul>
  </div>
